{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/agency.css' %} {% endblock %}
{% block title %} Event агентства {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}

<div class="wrapper__agency">
    <div class="wrapper__under__nav">

    <div class="under__nav__left">
        <div class="button left" ><button id="ispol">Исполнители</button></div>
        <div class="button right" ><button id="agency">Агенства</button></div>
    </div>

    <div class="under__nav__right">
        <ul class="filter__list">
            <li class="filter__item" id="all"><a href="#">Все</a> </li>
            <li class="filter__item"><a href="#">Свадьба <span class="stick" > |</span> </a> </li>
            <li class="filter__item"><a href="#">Юбилей <span class="stick" > |</span></a> </li>
            <li class="filter__item"><a href="#">День рождения <span class="stick" >| </span></a> </li>
            <li class="filter__item"><a href="#">Корпоратив <span class="stick" > |</span></a> </li>
            <li class="filter__item"><a href="#">Тематическое</a> </li>
        </ul>
    </div>




    </div>

<div class="nav__filter">
<!--    ЗДЕСЬ БУДЕТ ФИЛЬТР   -->
    </div>

    <div class="wrapper__main__page">
        <section class="breweries" id="breweries">
    <ul>
      <li>
        <figure>
          <!-- Photo by Quentin Dr on Unsplash -->
          <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e" alt="Several hands holding beer glasses">
          <figcaption><h3>Название агенства</h3></figcaption>
        </figure>
        <p>
          Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
        </p>
          <div class="info__agency">
              <div class="budget"><span class="price">Цена: </span> 100$</div>
              <div class="amount__people"><span class="amount">Кол-во человек: </span> 40</div>
          </div>

        <button class="button card">Подробнее</button>
      </li>
      <li>
        <figure>
          <!-- Photo by Drew Farwell on Unsplash -->
          <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80" alt="Several friends doing a toast">
          <figcaption><h3>Drake Equation</h3></figcaption>
        </figure>
        <p>
          Another world citizens of distant epochs from which we spring descended from astronomers Orion's sword shores of the cosmic ocean.
        </p>
            <div class="info__agency">
              <div class="budget"><span class="price">Цена: </span> 60$</div>
              <div class="amount__people"><span class="amount">Кол-во человек: </span> 35</div>
          </div>
        <button class="button card">Подробнее</button>
      </li>
      <li>
        <figure>
          <!-- Photo by Rawpixel on Unsplash -->
          <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80" alt="Three different glasses of beer">
          <figcaption><h3>Vast cosmic arena</h3></figcaption>
        </figure>
        <p>
          Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas brain is the seed of intelligence.
        </p>
          <div class="info__agency">
              <div class="budget"><span class="price">Цена: </span> 50$</div>
              <div class="amount__people"><span class="amount">Кол-во человек: </span> 20</div>
          </div>
          <button class="button card">Подробнее</button>
      </li>




    </ul>
  </section>



    </div>


</div>







{% include 'main/footer.html' %}
{% endblock %}