{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/agency.css' %} {% endblock %}
{% block title %} Event агентства {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}

<div class="wrapper__agency">
    <div class="wrapper__under__nav">

  

    <div class="under__nav__right">
        <ul class="filter__list">
            <li class="filter__item" id="all"><a href="?cat=all">Все</a> </li>
            <li class="filter__item"><a href="?cat=wedding">Свадьба <span class="stick" > |</span> </a> </li>
            <li class="filter__item"><a href="?cat=aniversary">Юбилей <span class="stick" > |</span></a> </li>
            <li class="filter__item"><a href="?cat=birthday">День рождения <span class="stick" >| </span></a> </li>
            <li class="filter__item"><a href="?cat=companyparty">Корпоратив <span class="stick" > |</span></a> </li>
            <li class="filter__item"><a href="?cat=thematic">Тематическое</a> </li>
        </ul>
    </div>




    </div>

    <div class="nav__filter">

        <form method="get">

            {{filter.form.as_table}}
            <input type="submit" class="buttoncardfilter">

        </form>

    </div>

    <div class="wrapper__main__page">

        <section class="breweries" id="breweries">
    <ul>
        {% for obj in filter.qs%}

              <li>
        <figure>
          <!-- Photo by Drew Farwell on Unsplash -->
          <img src="{{obj.picture.url}}" alt="Several friends doing a toast">
          <figcaption><h3>{{obj.title}}</h3></figcaption>
        </figure>
        <p>
            {{obj.short_description}}
        </p>
            <div class="info__agency">
              <div class="budget"><span class="price">Цена: </span> {{obj.price}} $</div>
              <div class="amount__people"><span class="amount">Кол-во человек: </span> {{obj.people}}</div>
          </div>
       <a href="/agencies/{{obj.pk}}"><button class="button card">Подробнее</button></a>
      </li>

        {% endfor %}

  </section>



    </div>


</div>







{% include 'main/footer.html' %}
{% endblock %}