{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/agency.css' %} {% endblock %}
{% block title %} Event агентства {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}

<div class="wrapper__agency">
    <div class="wrapper__under__nav">

    <div class="under__nav__left">
        <div class="button left" ><button id="ispol">Исполнители</button></div>
        <div class="button right" ><button id="agency">Агенства</button></div>
    </div>

    <div class="under__nav__right">
        <ul class="filter__list">
            <li class="filter__item" id="all"><a href="#">Все</a> </li>
            <li class="filter__item"><a href="#">Свадьба <span class="stick" > |</span> </a> </li>
            <li class="filter__item"><a href="#">Юбилей <span class="stick" > |</span></a> </li>
            <li class="filter__item"><a href="#">День рождения <span class="stick" >| </span></a> </li>
            <li class="filter__item"><a href="#">Корпоратив <span class="stick" > |</span></a> </li>
            <li class="filter__item"><a href="#">Тематическое</a> </li>
        </ul>
    </div>




    </div>

<div class="nav__filter">
<!--    ЗДЕСЬ БУДЕТ ФИЛЬТР   -->
    </div>

    <div class="wrapper__main__page">

        <section class="breweries" id="breweries">
    <ul>

        {% for item in Agency %}
      <li>
        <figure>
          <!-- Photo by Drew Farwell on Unsplash -->
          <img src="{{item.picture.url}}" alt="Several friends doing a toast">
          <figcaption><h3>{{item.title}}</h3></figcaption>
        </figure>
        <p>
            {{item.short_description}}
        </p>
            <div class="info__agency">
              <div class="budget"><span class="price">Цена: </span> {{item.price}} $</div>
              <div class="amount__people"><span class="amount">Кол-во человек: </span> {{item.people}}</div>
          </div>
       <a href="/agencies/{{item.pk}}"><button class="button card">Подробнее</button></a>
      </li>
        {% endfor %}


    </ul>
  </section>



    </div>


</div>







{% include 'main/footer.html' %}
{% endblock %}