{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/contacts.css' %} {% endblock %}
{% block title %} Event агентства {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}


<div class="wrapper__contacts">

    <div class="contacts__text">Контакты</div>

    <div class="faq__wrapper">
        <div class="faq__text">FAQ</div>

        <div class="question__section">Как начать работу с EventZone?</div>
        <div class="answer__section">Просто свяжитесь с нашей командой через наш сайт или по указанным контактным данным. Мы поможем вам разобраться в процессе и обсудим подробности.</div>

        
        <div class="help__section">

            <div class="help__text">
                Не нашли ответа? <br>
                Свяжитесь с нами!
            </div>

            <div class="send__section">
                <form method="POST">

                {% csrf_token %}
                {{ form.as_p }}
                    <button type="submit" class="logbtn reg">Отправить</button>
                </form>
            </div>
           

        </div>
        
    </div>


</div>


{% include 'main/footer.html' %}
{% endblock %}