{% load static %}
<div class="footer">

    <div class="wrapper">

        <div class="footer__nav">

            <div class="footer__inner">

                <ul class="footer__item">
                    <li class="li__items name">Меню</li>
                    <li class="li__items"><a href="#">Главная</a></li>
                    <li class="li__items"><a href="#">Готовые решения</a></li>
                    <li class="li__items"><a href="#">Агентства</a></li>
                    <li class="li__items"><a href="#">Подрячики</a></li>
                </ul>

            </div>

            <div class="footer__inner">

                <ul class="footer__item">

                    <li class="li__items name">Адрес</li>
                    <li class="li__items"><a href="#">г. Казань ул. Петра Попова д. 42</a></li>
                    <li class="li__items"><a href="#">г. Казань ул. Петра Попова д. 42</a></li>
                    <li class="li__items"><a href="#">г. Казань ул. Петра Попова д. 42</a></li>

                </ul>

            </div>

            <div class="footer__inner">

                <ul class="footer__item">

                    <li class="li__items name">Контакты</li>
                    <li class="li__items"><a href="#">info@brand.com</a></li>
                    <li class="li__items"><a href="#">123-456-789</a></li>

                </ul>

            </div>

        </div>
        <div class="footer__under">

            <div class="follow__us">
                <div class="footer__follow__text">Следите за нами</div>

                <a href="#"><img src="{% static 'main/img/icons/vk.png' %}" width="35" height="35"></a>
                <a href="#"><img src="{% static 'main/img/icons/git.png' %}" width="35" height="35"></a>
                <a href="#"><img src="{% static 'main/img/icons/tg.png' %}" width="35" height="35"></a>

            </div>

        </div>

    </div>

  </div>