{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/registration.css' %} {% endblock %}
{% block title %} Вход {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}

<div class="wrapper__reg">

    <div class="left__wrap">
        <img src="{% static 'main/img/regphoto.jpg' %}">
    </div>

    <div class="right__wrap">

        <div class="reg__wrap">
            <div class="logo__wrap">
                <img src="{% static 'main/img/icons/logo_yellow.png' %}">
            </div>
            <div class="reg__info">Авторизация</div>
            <div class="menu__wrap">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="logbtn reg" type="submit">Войти в систему</button>
                </form>

                </div>
            </div>
<!--            СЮДА надо добавить гиперссылку на регистрацию-->
        </div>



    </div>


</div>




{% include 'main/footer.html' %}
{% endblock %}