{% load static %}
<header class="home">

        <div class="header__navigation">

            <div class="header__items">
                <div class="header__logo">
                    <a href="#"><img src="{% static 'main/img/logo.png' %}" width="80" height="80"></a>
                </div>

                <div class="header__nav">
                    <ul class="header__nav__list">
                        <li><a hre="#">#</a></li>
                        <li><a href="/">Главная</a></li>
                        <li><a href="#">Решения</a></li>
                        <li><a href="agencies">Агентства</a></li>
                        <li><a href="#">Подрячики</a></li>
                        <li><a href="#">Для начинающих</a></li>
                        <li><a href="#">Сотрудничество</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>

            </div>


        </div>

    </header>