{% load static %}
<header class="home">
    
        <div class="header__navigation">

            <div class="header__items">
                <div class="header__logo">
                    <a href="/"><img src="{% static 'main/img/newLogo.png' %}" ></a>
                </div>

                <div class="header__nav">
                    <ul class="header__nav__list">
                        
                        <li><a href="/">Главная</a></li>
                        <li><a href="/solutions">Решения</a></li>
                        <li><a href="/agencies">Агентства</a></li>
                        <li><a href="/contractors">Подрядчики</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="/profile">Личный Кабинет</a></li>
                        {% else %}
                        <li><a href="/account/login" id="login" ><img src="{% static 'main/img/icons/login.png'%}" width="20"  height="20"></a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>


        </div>

    </header>

    


