{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/profile.css' %} {% endblock %}
{% block title %} Агентство {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}

<div class="wrapper__profile">

    {% if request.user.is_authenticated %}

     <div class="profile__info">
        <div class="avatar"><img src="{% if user.photo %}{{user.photo.url}}{% endif %}" alt=""></div>
        <div class="main__information">

            <div class="profile username">{{ user.name }} {{user.surname}} {{user.middlename}}</div>
            <div class="profile registration__date">Зарегестрирован: <span class="boldfont">{{user.date_joined}}</span></div>
            <div class="profile city">Город: <span class="boldfont">{{user.city}}</span></div>
            <div class="profile year">Возраст: <span class="boldfont">{{user.age}}</span></div>
            <div class="profile year"><a href="/account/change"><button class="logbtn reg">Редактировать профиль</button></a></div>


        </div>
     </div>

     <div class="events">Мероприятия с EventZone</div>


    <section class="breweries" id="breweries">
        <ul>
        {% for obj in book_solutions %}
                      <li>
            <figure>
              <!-- Photo by Drew Farwell on Unsplash -->
              <img src="{{obj.solution.picture.url}}" alt="Several friends doing a toast">
              <figcaption><h3>{{obj.solution}}</h3></figcaption>
            </figure>
            <p>
                Площадка: {{obj.book_place}} <br>
                Тип мероприятия:
                {{obj.solution.description}}
            </p>
                <div class="info__agency">
                  <div class="budget"><span class="price">Тариф: </span>{{obj.plan}} </div>
                  <div class="amount__people"><span class="amount">Дата проведения: </span> {{obj.book_date}}</div>
              </div>
           <a href="/ticket/{{obj.pk}}"><button class="button card">Подробнее</button></a>
          </li>
        {% endfor %}



          
    
        </ul>

        
      </section>

      <div class="events button"><a href="account/logout">Выход</a></div>

     {% else %}

    <div class="events button"><a href="account/login">Войти в аккаунт</a></div>

    {% endif %}

</div>



{% include 'main/footer.html' %}
{% endblock %}