{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/profile.css' %} {% endblock %}
{% block title %} Агентство {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}

<div class="wrapper__profile">

    {% if request.user.is_authenticated %}

     <div class="profile__info">
        <div class="avatar"><img src="{% static 'main/img/testimage.png' %}" alt="Several friends doing a toast"></div>
        <div class="main__information">

            <div class="profile username">{{ user.get_full_name }}</div>
            <div class="profile registration__date">Зарегестрирован: <span class="boldfont">{{user.date_joined}}</span></div>
            <div class="profile completedevents">Мероприятий с EZ: <span class="boldfont">20</span></div>
            <div class="profile city">Казань</div>
            <div class="profile year"><span class="boldfont">21</span> год</div>

        </div>
     </div>

     <div class="events">Мероприятия с EventZone</div>


    <section class="breweries" id="breweries">
        <ul>
    
          
          <li>
            <figure>
              <!-- Photo by Drew Farwell on Unsplash -->
              <img src="{% static 'main/img/testimage.png' %}" alt="Several friends doing a toast">
              <figcaption><h3>Название</h3></figcaption>
            </figure>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facilis quo dicta debitis quam nostrum veniam quis aut a consequatur. Itaque ullam in fugit magni corporis voluptate molestiae blanditiis minima!
            </p>
                <div class="info__agency">
                  <div class="budget"><span class="price">Цена: </span> 42000 $</div>
                  <div class="amount__people"><span class="amount">Кол-во человек: </span> 50</div>
              </div>
           <a href="/agencies/{{item.pk}}"><button class="button card">Подробнее</button></a>
          </li>
           
          <li>
            <figure>
              <!-- Photo by Drew Farwell on Unsplash -->
              <img src="{% static 'main/img/testimage.png' %}" alt="Several friends doing a toast">
              <figcaption><h3>Название</h3></figcaption>
            </figure>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facilis quo dicta debitis quam nostrum veniam quis aut a consequatur. Itaque ullam in fugit magni corporis voluptate molestiae blanditiis minima!
            </p>
                <div class="info__agency">
                  <div class="budget"><span class="price">Цена: </span> 42000 $</div>
                  <div class="amount__people"><span class="amount">Кол-во человек: </span> 50</div>
              </div>
           <a href="/agencies/{{item.pk}}"><button class="button card">Подробнее</button></a>
          </li>

          <li>
            <figure>
              <!-- Photo by Drew Farwell on Unsplash -->
              <img src="{% static 'main/img/testimage.png' %}" alt="Several friends doing a toast">
              <figcaption><h3>Название</h3></figcaption>
            </figure>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facilis quo dicta debitis quam nostrum veniam quis aut a consequatur. Itaque ullam in fugit magni corporis voluptate molestiae blanditiis minima!
            </p>
                <div class="info__agency">
                  <div class="budget"><span class="price">Цена: </span> 42000 $</div>
                  <div class="amount__people"><span class="amount">Кол-во человек: </span> 50</div>
              </div>
           <a href="/agencies/{{item.pk}}"><button class="button card">Подробнее</button></a>
          </li>

          
    
        </ul>

        
      </section>

      <div class="events"><a href="/logout">Выход</a></div>

     {% else %}

    <div class="events"><a href="/login">Войти в аккаунт</a></div>

    {% endif %}

</div>



{% include 'main/footer.html' %}
{% endblock %}