{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/reserv.css' %} {% endblock %}
{% block title %} Агентство {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}

    <div class="wrapper__reserv">
        <div class="reserv__text">Бронирование</div>


        <div class="wrapper__main__page">
            <div class="main__left">
            

                <div class="reg__wrap">
                
                    
                    <div class="menu__wrap">
        
                        <div class="text-field">

                            <form method="POST">

                            {% csrf_token %}
                            {{ form.as_p }}

                                {% if request.user.is_authenticated %}
                            <button type="submit" class="logbtn reg">Забронировать</button>
                            </form>
                        {% else %}
                                </form>
                                <a href="/account/login"><button class="logbtn reg">Войти</button></a>
                        {% endif %}

                        </div>


                          </div>


                    </div>
              
                
            </div>



            <div class="main__right">
                <div class="option__text">Перечень услуг</div>
                <div class="option__items">
                    {% for obj in filter1 %}
                    <div class="option__item tarif">{{ obj.title}}</div>
                        {% for item in filter %}
                            {% if item.plan == obj %}
                            <div class="option__item margin">{{ item.service}}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="left__gallery">
                    <div class="gallery__desc__left">
                        <div class="gallery__name">Галерея</div>
                        <div class="gallery__carousel">
                            <section class="carousel">
                                <ul class="carousel">
                                    {% for obj in filterPhoto %}
                                    <li class="carousel__item"><img src="{{ obj.photo.url }}"></li>
                                    {% endfor %}
                                </ul>
                            </section>
    
                        </div>
                    </div>
                </div>
            </div>

            
        </div>


        <div class="reserv__text"></div>



    </div>



{% include 'main/footer.html' %}
{% endblock %}