{% extends 'main/layout.html' %}
{% load static %}
{% block style %} {% static 'main/css/profile.css' %} {% endblock %}
{% block title %} Агентство {% endblock %}
{% block content%}
{% include 'main/navbar.html' %}

<div class="wrapper__profile">

    {% if request.user.is_authenticated %}

     <div class="profile__info">
        <div class="avatar"><img src="" alt=""></div>
        <div class="main__information">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="logbtn reg">Сохранить изменения</button>
            </form>
        </div>
     </div>

     {% else %}

    <div class="events button"><a href="account/login">Войти в аккаунт</a></div>

    {% endif %}

</div>



{% include 'main/footer.html' %}
{% endblock %}